# Python
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Docs
site/

# Rust
target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
